body{
    background-image: url(/assets/3D.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Tapestry';
    font-size: large;
    justify-content: center;
}
.container{
    width: 90%;
    height: max-content;
    margin: 0 auto;
    padding: 0 auto;
}

.header{
    display: flex;
    /* flex-wrap: wrap; */
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 auto;
    width: 100%;
    text-decoration: none;
    background-color: rgb(24, 39, 39);
    /* height: 70px; */
}
.container .header .navbar{
    width: 100%;
    margin: auto;
    padding: auto;
}
.container .header .navbar ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
}
/* button{
    color: none;
} */
li .nav-item,a {
    width:max-content;
    color: white;
    display: flex;
    justify-content: space-between;
}
.container .header .nav-logo{
    width:5em;
    height:12vh ;
}
.intro, .content1, .content2, .content3, .social, .friends, .footer{
    margin: auto;
    padding: 10px 10px;
}
 p,h3,h1{
    align-items: center;
    display: flex;
    justify-content: center;
}
.body-content .intro{
    color: gainsboro;
    /* display: flex; */
}
/* .body-content .intro p, .body-content .intro img{
    display: flexbox;
} */
.body-content .flex-container{
    display: flex;
    justify-content: center;
}
.body-content .flex-container img{
    padding: 10px 10px;
}
img{
    width: 500px;
    height: 250px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.body-content .intro .join {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

/* .body-content .content2 .btn{
    display: flex;
    margin: auto;
    justify-content: center;
} */

.body-content .content3 .flex-container .btn{
    display: flex;
    margin: auto;
} 
.body-content .content3 .flex-container .group img{
    width: 200px;
    height: 150px;
    margin: auto;
    padding: 5px;
    display: flex;
}
.body-content .content3 .flex-container .group .btn-grp{
    width: 100%;
    display: flex;
}
.body-content .social .flex-container .text{
justify-content: center;    
margin: auto;
}

.footer .footer-logo{
    margin: auto;
    display: flex;
    width: 500px;
    justify-content:left ;
}
.footer.flex-container.info h3{
    text-align: right;
}
.footer .info .col{
    /* width: 400px; */
    display: flex;
    justify-content: right;
}